body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #5256AD;
  }
  
  .container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
  }
  
  textarea {
    width: 80%;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width : 200px;
    padding: 10px 20px;
    font-size: 16px;
    background-color:#5256AD; /* Change button color */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #27ae60; /* Change button color on hover */
  }
  